body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

::selection {
    background: rgba(0, 0, 0, 0.1);
}

header {
    background-color: black;
    height: 5vh;
    color: #ffffff;
    font-family: "Arial Black", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    overflow: hidden;
}

#headerCenter {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

::-webkit-scrollbar {
    display: none;
}

#leftSide {
    display: flex;
    justify-content: right;
    align-items: center;
}
#leftSide img {
    height: 80%;
    padding-right: 8%;
}

h1, h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}



.text {
    position: relative;
    user-select: none;
}
.red,
.green,
.blue {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    user-select: none;
}
.red {
    color: #ff0000;
}
.green {
    color: #00ff00;
    z-index: 1;
    transform: translate(-3px, 0px);
}
.blue {
    color: #0000ff;
    z-index: 2;
    transform: translate(3px, 0px);
}