*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
}

::selection {
    background: #000;
    color: #fff;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    overflow: hidden;
}

#backgroundColor {
    /* background-image: url("https://t4.ftcdn.net/jpg/02/66/20/39/360_F_266203971_eGJoakddzdxCNr0776fl7zxS5vE8AMqf.jpg"); bubbles */
    background-image: url("https://i.gifer.com/origin/68/6830d60058c57bd08deb24573c4ecda4_w200.gif");
    background-repeat: repeat;
    opacity: 0%;
    position: absolute;
    z-index: 1234;
    width: 100vw;
    height: 100vh;
    user-select: none;
    pointer-events: none;
}

#landingTitle {
    padding-bottom: 30px;
    font-size: 100px;
    cursor: default;
}

#overlayTextR {
    position: absolute;
    color: #ff0000;
    z-index: 1;
    mix-blend-mode: screen;
}
#overlayTextRB {
    z-index: -1;
    position: absolute;
    color: #000000;
}

#overlayTextG {
    position: absolute;
    color: #00ff00;
    mix-blend-mode: screen;
}
#overlayTextGB {
    z-index: -1;
    position: absolute;
    color: #000000;
}

/* class for each of the blobs */
/* blob span code inspired by: https://github.com/atom888 */
.blob {
    position: relative;
    margin: 0 50px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* top layer */
.blob span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.0s;
    animation: counterClockwise  10s linear infinite;
}

.blob:hover span:nth-child(3) {
    border: none;
    background: #ff0000;
    mix-blend-mode:screen;
}

/* middle layer */
.blob span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.0s;
    animation: clockwise 4s linear infinite;
}

.blob:hover span:nth-child(2) {
    border: none;
    background: #00ff00;
    mix-blend-mode:screen;
}

/* bottom layer */
.blob span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.0s;
    animation: clockwise 6s linear infinite;
}

.blob:hover span:nth-child(1) {
    border: none;
    background: #0000ff;
}

/* The words in the blobs */
.content {
    position: relative;
    padding: 40px 60px;
    color: #000;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

/* black copied layers */
.blob span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.0s;
    animation: counterClockwise  10s linear infinite;
    z-index: -10;
}
.blob span:nth-child(5) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.0s;
    animation: clockwise 4s linear infinite;
    z-index: -10;
}
.blob span:nth-child(6) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.0s;
    animation: clockwise 6s linear infinite;
    z-index: -10;
}
.blob:hover span:nth-child(4), .blob:hover span:nth-child(5), .blob:hover span:nth-child(6) {
    border: none;
    background: #000000;
}

/* Changing spin animations to add variety */
#middleBlob span:nth-child(1), #middleBlob span:nth-child(6) {
    animation: clockwise 6s linear infinite !important;
}
#middleBlob span:nth-child(2), #middleBlob span:nth-child(5) {
    animation: clockwise 5s linear infinite !important;
}
#middleBlob span:nth-child(3), #middleBlob span:nth-child(4) {
    animation: counterClockwise  8s linear infinite !important;
}
#lastBlob span:nth-child(1), #lastBlob span:nth-child(6) {
    animation: counterClockwise 4.5s linear infinite !important;
}
#lastBlob span:nth-child(2), #lastBlob span:nth-child(5) {
    animation: counterClockwise 9s linear infinite !important;
}
#lastBlob span:nth-child(3), #lastBlob span:nth-child(4) {
    animation: clockwise  7s linear infinite !important;
}

/* Set static RGB displacement for mobile */
@media all and (orientation: portrait) {
    #overlayTextR, #overlayTextRB {
        margin-left: 18px !important;
        margin-top: 0 !important;
    }
    #overlayTextG, #overlayTextGB {
        margin-left: -18px !important;
        margin-top: 0 !important;
    }
}

/* Spinning animations */
@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes counterClockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



/* Transition overlay */
#transitionOverlayR, #transitionOverlayG, #transitionOverlayB {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    z-index: 2220;
    margin-top: 100vh;
    transition: margin-top 1s ease;
    visibility: hidden;
}
#transitionOverlayG {
    background-color: lime;
    z-index: 2221;
    mix-blend-mode: normal;
}
#transitionOverlayB {
    background-color: blue;
    z-index: 2222;
    mix-blend-mode: normal;
}